aside{
  position: fixed;
  right: 20px;
  bottom: 0;
}
aside:hover::before{
  margin-bottom: 10px;
  transition: 0.3s;
}
aside::before{
  content: "";
  background: url(../img/rgt_arrow.png);
  width: 10px;
  height: 21px;
  display: inline-block;
  margin-bottom: 7px;
  transform: translateX(-4px);
}
aside ul{
   
}
aside ul li:not(:last-child){
}
aside ul li a{
  font-size: 0;
  width: 3px;
  height: 50px;
  display: block;
  background-color: rgba(0,0,0,0.3);
}
aside ul li a::before{ 
  content: "";
  background: url(../img/rgt_arrow.png);
  display: block;
}
.currentB{
  background-color: #333 !important; 
  width: 3px;
}
.currentW{
  background-color: #fff !important; 
  width: 3px;
}