footer {
  background-color: #292b1c;
}
footer .wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0 calc((100% - 1520px) / 2);
}
footer .wrap h1 {

}
footer .wrap ul.fnb{
  width: 60%;
}
footer .wrap ul.fnb li {
  
}
footer .wrap ul.fnb li a {
  color: white;
  display: block;
  line-height: 4;
}
footer .wrap ul.fnb li:first-child a{
  padding-right: 15px;
}
footer .wrap ul.fnb li:not(:first-child) a{
  padding: 0 15px;
}
footer .wrap div{
  width: 40%;
  justify-content: end;
  align-items: center;
}
footer .wrap div ul{
  align-items: center;
}
footer .wrap div ul li{
  padding: 0 15px;
}
footer .wrap div ul li a{
  color: white;
  display: block;
  line-height: 4;
  
}
footer .wrap select{
  background-color: #43462d;
  width: 120px;
  height: 30px;
  color: #eee;
  text-align: center;
}
footer .wrap select option{
  
}
footer .wrap a.hb{  
  position: absolute;
  right: calc((100% - 1520px) / 1.5);
  top: 96px;
  background-image: url(../img/logo2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 115px;
  height: 25px;
  font-size: 0;
}
footer .wrap a.blog {
  position: absolute;
  right: calc((100% - 1520px) / 2);
  top: 85px;
  background-image: url(../img/blog_btn.png);
  background-size: cover;
  width: 41px;
  height: 41px;
  font-size: 0;
}
footer .wrap address {
  width: 100%;
  color: #999;
  display: n;
}
footer .wrap address::before{
  content: "";
  width: calc(100vw - 17px);
  display: block;
  border-top: 1px solid #777;
  margin-left: calc((1903px - 1520px) / -2);
  margin-bottom: 20px;
}
footer .wrap address span{
  display: none;
}
footer .wrap p { 
  color: #999;
  margin-bottom: 30px;
}
footer a.top{
  color: #879140;
  text-transform: uppercase;
  position: fixed;
  right: 75px;
  bottom: 20px;
  z-index: 1;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  flex-direction: column;
}
footer a.top::before{
  content: "";
  background-image: url(../img/top.svg);
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}