header {
  position: fixed;
  width: 100%;
  z-index: 2;
  border-bottom: solid 1px #ccc;
}
header .wrap {
  height: 75px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto auto;
}
header .wrap h1 {

}
header .wrap h1 a {
  display: block;
  background-image: url(../img/logo2.png);
  font-size: 0;
  width: 180px;
  height: 31px;
  background-repeat: no-repeat;
  background-size: contain;
}
header .wrap ul.gnb {
}
header .wrap ul.gnb li {

  width: 150px;
}
header .wrap ul.gnb li a {
  display: block;
  line-height: 75px;
  padding: 0 34px;
  font-size: 18px;
  font-weight: 600;
  color: #222;
  transition: 0.2s ease-in-out;
}
header .wrap ul.gnb li a:hover{
  color: #7c853b;
  transform: scale(1.2);
}
header .lnb{
  position: absolute;
  width: 100%;
  left: 0;
  top: 75px;
  display: none;
}
header .lnb .sublist {
  background-color: rgba(255, 255, 255, 0.8);
  display: grid;
  grid-template-columns: 40.5% 150px 150px 150px 150px;
  transition: 0.5s;
  height: 200px;
  justify-content: center;
  padding: 20px 0;
}
header .lnb .sublist .menu1{
  grid-column: 2;
}
header .lnb .sublist .menu2{

}
header .lnb .sublist .menu3{

}
header .lnb .sublist .menu4{

}
header .lnb .sublist div h2 {

}
header .lnb .sublist div ul.useguide {

}
header .lnb .sublist div ul.useguide li {

  line-height: 1.8;
  font-size: 16px;
}
header .lnb .sublist div ul.useguide li a {

}
header .lnb .sublist div ul.useguide li a:hover{
  
  color: #9b9b9b;
}
header .wrap span.lang {
  grid-column: 3;
  grid-row: 1;
  margin-left: 30px;
}
.headerFix{
  background-color: rgba(255, 255, 255, 0.8);
}