header {
  position: fixed;
  width: 100%;
  z-index: 2;
  border-bottom: solid 1px #ccc;
}
header .wrap {
  height: 75px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto auto;
}
header .wrap h1 {

}
header .wrap h1 a {
  display: block;
  background-image: url(../img/logo2.png);
  font-size: 0;
  width: 180px;
  height: 31px;
  background-repeat: no-repeat;
  background-size: contain;
}
header .wrap ul.gnb {
}
header .wrap ul.gnb li {

  width: 150px;
}
header .wrap ul.gnb li a {
  display: block;
  line-height: 75px;
  padding: 0px 30px;
  font-size: 18px;
  font-weight: 600;
  color: #222;
  transition: 0.2s ease-in-out;
}
header .wrap ul.gnb li a:hover{
  color: #7c853b;
  transform: scale(1.2);
}
header .lnb{
  position: absolute;
  /*! width: 100%; */
  right: 0;
  top: 75px;
  display: none;
}
header .lnb .sublist {
  transition: 0.5s;
  width: 234px;
}
header .lnb .sublist .menu{
  
}
header .lnb .sublist .menu:not(:nth-child(4)){
  border-bottom: 1px solid #ccc;
}
header .lnb .sublist .menu4{

}
header .lnb .sublist div h2 {
  font-size: 20px;
/*   padding: 20px; */
  background-color: #1f5cbf;
  color: white;
  line-height: 3.4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  cursor: pointer;
}
header .lnb .sublist div h2::after{
  content: "";
  display: inline-block;
  background-image: url(../img/headermore.svg);
  width: 30px;
  height: 30px;
  transition: 0.5s;
}
header .lnb .sublist div h2.rotateUP::after{
  transform: rotate(180deg);
  transition: 0.5s;
}

header .lnb .sublist div ul.useguide {

  background-color: white;
  padding: 10px 20px;
}
header .lnb .sublist div ul.useguide li {

  line-height: 2;
  font-size: 16px;
}
header .lnb .sublist div ul.useguide li a {
  color: #111;
}
header .lnb .sublist div ul.useguide li a:hover{
  
  color: #9b9b9b;
}
header .wrap span.lang {
  grid-column: 3;
  grid-row: 1;
  margin-left: 30px;
}
.headerFix{
  background-color: rgba(255, 255, 255, 0.8);
}