@media screen and (max-width:1280px){
  div.wrap{
    padding: 0 15px;
    box-sizing: border-box;
  }
  .h2 {
    font-size: calc(54px * 0.85);
  }
  .h3{
    font-size: calc(19px * 0.85) !important;
  }
  .h4{
    font-size: calc(23px * 0.85);
  }
  .h5{
    font-size: calc(60px * 0.7);
  }
/*     header     */
  header .wrap h1 a{   
    margin-left: 20px;
  }
  header .wrap ul.gnb li a{    
    padding: 0 15px;
  }
  header .wrap ul.gnb li:first-child a{
    padding-left: 0; 
  }
  header .wrap span.lang{
    padding: 15px;
  }
  .ham{
    font-size: 17px;
  }
/*      title      */
  #title .wrap{
    padding: 0 !important;
  }
  #title .wrap .witem1 p{    
   margin-bottom: 66px;
  }   
  #title .wrap .witem3 p{
    
  }
/*     promotion     */
  section#promotion .wrap iframe{    
    width: calc(100vw - 30px);
    height: 70vw;
    transform: translate(0, 80px);
  }  
  section#promotion .left{
    transform: translate(0, -600px);
  }
  section#promotion .left::before{
    width: 85vw;
    left: -15px;
  }
  section#promotion .left p.p{    
    font-size: calc(24px * 0.7);
    display: none;
  }
  section#promotion .left p.h3{    
    font-size: calc(25px * 0.7);
  }

/*     business     */
  section#business .wrap h2{
  align-self: inherit;
  }
  section#business .wrap p.business{
    display: none;
  }
  section#business .wrap a{    
    margin-bottom: 30px;
  }
  section#business .wrap .list .paper a::before{
    
  width: calc(751px * 0.6);
  height: calc(345px * 0.6);
  }
  section#business .wrap ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  section#business .slick-list{
    
  padding: 0 !important;
  }
  section#business .wrap ul li:nth-child(1) a::before {
    width: 72vw;
    height: 37.643vw;
    opacity: 1;
  }
  section#business .wrap ul li:nth-child(1) a:hover::before{
    transform: rotateY(60deg);
    transition: all 1s;
  }
  section#business .wrap ul li:nth-child(2) a::before{
    width: 72vw;
    height: 37.643vw;
  }
  section#business .wrap ul li:nth-child(3) a::before {
    width: 72vw;
    height: 37.643vw;
    opacity: 1;
  }
  section#business .wrap ul li:nth-child(3) a:hover::before{
    transform: rotateY(60deg);
    transition: all 1s;
  }
  section#business .wrap .list .box a::before{
    width: calc(345px * 0.9);
    height: calc(345px * 0.9);
  }
  section#business .wrap ul li a h3{    
    margin: 0;
  }
  section#business .wrap a.left{
    display: none;
  }
  section#business .wrap a.right{
    display: none;
  }
/*     products     */
  section#products .pro2{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
  }
  section#products .pro2 article figure a img{
    width: 25vw;
    height: 15vw;
  }
  section#products .pro2 article figure a figcaption{    
    display: none;
  }
/*     news     */
    section#news .wrap h3{
    display: none;
  }
  section#news .wrap ul{
    display: initial;
  }
  section#news .wrap ul li a::after{
    content: "";
    border-bottom: solid 1px;
    width: calc(100vw - 30px);
    display: block;
  }
  section#news .wrap ul li:nth-child(1) a::before{
    content: "";
    border-top: solid 1px;
    width: calc(100vw - 30px);
    display: block;
  }
  section#news .wrap ul li:nth-child(n+9){
     display: none;
  }
  section#news .wrap ul li a span:nth-child(1){
    padding-top: 10px;
  }
  section#news .wrap ul li a time{
    padding-bottom: 10px;
  }
  section#news .wrap ul li a figure img{    
     display: none;
  }
  section#news .wrap ul li a figure figcaption{
     display: none;
  }
/*     aside     */
  aside{
    display: none;
  }
/*     footer     */
  footer .wrap{
    padding: 0 15px;
    justify-content: space-between;
  }
  footer .wrap ul.pnb{    
    display: none;
  }
  footer .wrap div ul.fnb{
    width: 100%;
  }
  footer .wrap address::before{    
    margin-left: initial;
    width: calc(100vw - 30px);
  }
  footer .wrap a.blog{    
    right: 16px;
    top: 76px;
  }
  footer .wrap a.hb{
    display: none;
  }
  footer a.top{
    display: none;
  }
}

@media screen and (max-width:768px){
  .vh100{
    /*! min-height: auto; */
  }
  .h1 {
    font-size: calc(64px * 0.6);
  }
  .h2 {
    font-size: calc(58px * 0.6);
  }
  .h4{
    font-size: calc(24px * 0.7);
  }
  main .wrap{
    padding: 0 15px;
  }
/*      header     */
  header .wrap{
    
  }
  header .wrap h1 a{    
    width: 120px;
    height: 25px;
    margin-left: 20px;
  }
  header .wrap ul.gnb{
    display: none;
  }
  header .wrap span.lang{
    display: none;
  }
  .ham{
    display: flex;
  }
/*      title    */
  #title{
    min-height: auto;
  }

  #title .wrap .witem{ 
    text-align: center;
    width: 100vw !important;
  }
  #title .wrap .witem h2{
    margin-bottom: 0;
    font-size: calc(78px * 0.6);
    margin-bottom: 20px;
  }
  #title .wrap .witem h2 span{
    display: block;
  }
  #title .wrap .witem p{    
   font-size: calc(20px * 0.6);
   display: block;
   line-height: 1.2;
  }
  #title .wrap .witem2 h2 span{
    display: block;
  }
  #title .wrap .witem2 p span{
  }
  #title .wrap h2 span{
    display: block;
  }
  /* promotion */
  section#promotion .left{
    transform: translate(0, -280px);
  }
  section#promotion .left::before{   
    left: -15px;
    height: 70vw;
    width: 96vw;
  }
  /*  business  */
  section#business .wrap{
    display: flex;
  }
  section#business .wrap .list .paper a::before{  
    height: calc(345px * 0.45);
    width: calc(751px * 0.45);
  }
/*     products     */
  section#products .pro1 > p{    
    display: none;
  }
  section#products .pro2{   
    gap: 5px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
  }
  section#products .pro2 article figure a img{
    
  width: 35vw;
  height: 25vw;
  }
  section#products .pro2 article h3{    
    font-size: calc(20px * 0.7);
    font-weight: 400;
  }
  section#products .pro2 article figure a figcaption{    
    display: none;
  }
/*     news     */
  section#news .wrap p{ 
    font-size: calc(16px * 0.9);
    padding: 0px;
  }
  section#news .wrap ul li:nth-child(n+6){
    display: none;
  }
/*     footer     */
  footer .wrap{
    padding: 0 15px; 
  }
  footer .wrap ul.fnb{  
    width: 100%;
  }
  footer .wrap ul.fnb li:first-child a{
    padding-right: 10px;
  }
  footer .wrap ul.fnb li a{
    font-size: 12px;
  }
  footer .wrap ul.fnb li:not(:first-child) a{

  padding: 0 10px;
  }
  footer .wrap select{
    width: 95px;
    height: 21px;
    font-size: 11px;
  }
  footer .wrap div{    
    width: 100%;
    justify-content: space-between;
    order: 6;
  }
  footer .wrap div ul li a{
    font-size: 11px;
    padding-right: 7px;
  }
  footer .wrap select{
    margin-bottom: 17px;
  }
  footer .wrap a.blog{    
    top: 35px;
  }
  footer .wrap address{    
    width: 80%;
    font-size: 12px;
    order: 3;
  }
  footer .wrap address::before{
    display: none;
  }
  footer .wrap address span{    
    display: block;
  }
  footer .wrap p{
    order: 5;  
    font-size: 12px;
    margin-bottom: 10px;
  }
}

