#title{  

}
#title .wrap{
  height: 100%;
  gap: 15px;
  max-width: 100%;
}
#title .wrap .slick-list{
  height: 100%;
}
#title .wrap .slick-list .slick-track{
  height: 100%;
}
#title .wrap .witem{
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  transform: scale(1.2);
  transition: all 3s ease-in-out !important;
}
#title .wrap .witem1{
  background-image: url(../img/title_01.jpg);
}
#title .wrap .witem h2{  
  font-weight: bold;
  font-size: 78px;
  animation-name: title;
  text-align: center;
  color: #5e652d;
  margin-bottom: 30px;
}
#title .wrap .witem p{   
  font-size: 20px;
  display: inherit;
  color: #5e652d;
  margin-bottom: 100px;
}

#title .wrap h2 span{
  display: none;
}
#title .wrap .witem2{
  background-image: url(../img/title_02.jpg);
}
#title .wrap .witem2 h2{  
  color: white;
  margin-bottom: 30px;
}
#title .wrap .witem2 p{  
  color: white;
}
#title .wrap .witem2 p span{
  
}
#title .wrap .witem3{
  background-image: url(../img/title04.jpg);
}
#title .wrap .witem3 h2{  
  color: #222;
  margin-bottom: 30px;
}
#title .wrap .witem3 p{  
  color: #222;
  margin-bottom: 100px;
}
#title .wrap .slick-dots{  
  bottom: 30px;
}
#title .wrap .slick-dots li button{  
  position: relative;
}
#title .wrap .slick-dots li button::before{  
  color: white;
  opacity: 1;
}
#title .wrap .slick-dots li.slick-active button::before{ 
  color: white;
}
#title .wrap .slick-dots li.slick-active button::after{ 
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid white;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}